<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>文章页</title>
    <meta name="description" content="">
    <meta name="front-end" content="MrFangge">
    <link rel="stylesheet" href="./assets/revolution/css/settings.css" />
    <link rel="stylesheet" href="./css/main.css">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body class="relative art">
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<% include partial/aside %>
<div class="main-wrapper">
    <% include partial/header %>
    <div class="content-wrapper oh">
        <section class="art-banner">
            <h2>Filling our days.Feeding our passion.</h2>
            <p>我们是天生的完美主义者，我们有着本能的创造力。对我们而言，挑战自己的设计创作极限是种心灵愉悦。我们乐于分享自己的创作果实和战略思想，只为创作更直观友好的用户体验。<br>这势必成为品牌策划之先驱。</p>
        </section>

        <section class="art-col row">
            <div class="col-sm-12 col-md-8 pt-70">
                <h2 class="heading uppercase bottom-line">ZAKEA WORKS & BLOG</h2>
                <article class="art-cont">
                    <h1>那些年的《纪念碑谷》风</h1>
                    <div class="art-blockquote">
                        <div class="art-author">
                            <img src="img/avator.png" alt="">
                            <p>LINT</p>
                        </div>
                        <div class="art-info">
                            <div class="art-like"><i class="fa fa-heart"></i>128289</div>
                            <div class="art-time">17/9/21</div>
                        </div>
                        <p style="text-align: center">2014年位于伦敦的一家手游设计工作室USTWO，成功开发制作出一款解谜类手机游戏《纪念碑谷》。<br>
                            它凭借着独特唯美的视觉、配色与休闲益智的游戏玩法顿时风魔全球，尤其得到许多女性玩家的青睐，那当然也就少不了男性玩家的关注。<br>
                            Ken Wong就是这款游戏的主设计师，目前已回归澳洲故乡成立自己的工作室
                            Mountains。期待他更多出色的作品好让我们多学习。</p>
                        <p style="text-align: center">现在来设计张纪念碑谷风的字体给大家互相学习交流一下。<br>
                            好让大家在情人节时可以P张纪念碑谷风的海报、T恤、手机壳什么的送给女性朋友或者男性朋友或者其它朋友。什么是其它朋友？嗯...就是其它的朋友啊！</p>
                        <img src="img/address.jpg" alt="">
                    </div>
                </article>
            </div>
            <div class="col-sm-12 col-md-4 pt-70">
                <div class="top-info pb-30"><a href="">首页</a>/<a href="">列表</a>/<a href="" class="cur">详情</a></div>

                <div class="news-link art-aside">
                    <h2>推荐文章</h2>
                    <ul>
                        <li><a href="" target="_blank">触目惊心的平面广告带来创意无限</a></li>
                        <li><a href="" target="_blank">触目惊心的平面广告带来创意无限</a></li>
                        <li><a href="" target="_blank">触目惊心的平面广告带来创意无限</a></li>
                        <li><a href="" target="_blank">触目惊心的平面广告带来创意无限</a></li>
                        <li><a href="" target="_blank">触目惊心的平面广告带来创意无限</a></li>
                    </ul>
                </div>

                <div class="art-aside art-show">
                    <h2>最新作品</h2>

                    <div class="work-item web-design photography">
                        <div class="work-container">
                            <div class="work-img rounded">
                                <img src="img/portfolio/1.jpg" alt="">
                                <div class="work-overlay">
                                    <div class="project-icons">
                                        <a href="img/portfolio/1_big.jpg" class="lightbox-gallery" title="Awesome Boat"><i class="fa fa-search"></i></a>
                                        <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="work-description">
                                    <h2><a href="#">Awesome Boat</a></h2>
                                    <span><a href="#">Photography</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work-item web-design photography">
                        <div class="work-container">
                            <div class="work-img rounded">
                                <img src="img/portfolio/1.jpg" alt="">
                                <div class="work-overlay">
                                    <div class="project-icons">
                                        <a href="img/portfolio/1_big.jpg" class="lightbox-gallery" title="Awesome Boat"><i class="fa fa-search"></i></a>
                                        <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="work-description">
                                    <h2><a href="#">Awesome Boat</a></h2>
                                    <span><a href="#">Photography</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer-banner"></div>
        <% include partial/footer %>
        <div id="back-to-top">
            <a href="#top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</div>
<!-- @bundle ./js/base.min.js -->
<script type="text/javascript" src="./assets/jquery.min.js"></script>
<script type="text/javascript" src="./assets/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/plugins.js"></script>
<script type="text/javascript" src="./assets/submenu.js"></script>
<script type="text/javascript" src="./assets/slider.js"></script>
<script type="text/javascript" src="./assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="./assets/rev-slider.js"></script>
<script src="./js/main.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- @endbundle -->



</body>

</html>
