<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>首页</title>
    <meta name="description" content="">
    <meta name="front-end" content="MrFangge">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,600,800,400,300%7CRoboto:700,400,300%7CMerriweather:400,400italic' rel='stylesheet'>

    <link rel="stylesheet" href="./assets/revolution/css/settings.css" />
    <link rel="stylesheet" href="./css/main.css">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body class="relative">
<!-- Preloader -->
<div class="loader-mask">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<% include partial/aside %>
<div class="main-wrapper">
    <% include partial/header %>
    <div class="content-wrapper oh">
        <% include partial/col %>
        <% include partial/col2 %>
        <% include partial/col3 %>
        <% include partial/col4 %>
        <% include partial/col5 %>
        <div class="footer-banner"></div>
        <% include partial/footer %>
        <div id="back-to-top">
            <a href="#top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</div>
<!-- @bundle ./js/base.min.js -->
<script type="text/javascript" src="./assets/jquery.min.js"></script>
<script type="text/javascript" src="./assets/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/plugins.js"></script>
<script type="text/javascript" src="./assets/submenu.js"></script>
<script type="text/javascript" src="./assets/slider.js"></script>
<script type="text/javascript" src="./assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="./assets/rev-slider.js"></script>
<script src="./js/main.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="./assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- @endbundle -->



</body>

</html>
