.art{
  background: #f8f9f9;
}
.mobile{
  .art-banner{
    background-attachment: fixed!important;
  }
}
.art-banner{
  width: 100%;
  height: 490px;
  background: url(../img/art-banner.jpg) no-repeat center 0;
  background-attachment: fixed;
  text-align: center;
  padding-top:225px;
  box-sizing: border-box;
  h2{
    color: #cfcfcf;
    font-size: 90px;
    font-weight: 600;
    font-family: "Arial Black",sans-serif;
    letter-spacing: -5px;
    white-space: nowrap;
  }
  p{
    font-size: 12px;
    line-height: 18px;
    color: #cfcfcf;
  }
}
.art-col{
  .col-md-8{
    padding-right:0;
    border-right:1px solid #e8ebee;
    h2{
      text-align: center;
      color:#626262;
      font-size: 36px;
    }
  }
  .col-md-4{
    padding-left:0;
  }
  .heading{
    margin-bottom:0;
    &:after{
      margin-bottom:0;
    }
  }
}
.top-info{
  color: #8e8e8e;
  font-size: 14px;
  line-height: 1;
  border-bottom:1px solid #e8ebee;
  padding-top:22px;
  padding-left:62px;
  a{
    color: #8e8e8e;
    font-size: 14px;
    padding:0 5px;
    &:hover,&.cur{
      color:#e7604a;
    }
  }
}
.art-cont{
  padding-top:50px;

  h1{
    text-align: center;
    color:#545454;
    font-size: 48px;
    font-weight: 600;
  }
  p{
    color:#7b8488;
    font-size: 14px;
    line-height: 24px;
    margin-bottom:35px;
  }
  img{
    display: block;
    margin: 30px auto;
    max-width:100%;
  }
}
.art-blockquote{
  text-align: center;
  margin-bottom:20px;
  .art-author,.art-info{
    display: inline-block;
    vertical-align: middle;
  }
  .art-author{
    img,p{
      margin: 0;
    }
  }
  .art-time{
    font-weight: normal;
    font-family:"Arial",sans-serif;

  }
  .art-like{
    text-align: center;
  }
}
.art-aside{
  padding-left:70px;
  margin-top:38px;
  h2{
    color:#444;
    font-size: 14px;
    font-weight: 600;
  }
}
.news-link{
  ul{
    li{
      margin-bottom:10px;
      &:before{
        display: inline-block;
        content:"";
        vertical-align: middle;
        @extend %list;
        margin-right:10px;
      }
    }
    a{
      color: #444;
      font-size: 12px;
    }
  }
}
.art-show{
  .work-item{
    width: 198px;
  }
  .work-img{
    img{
      display: block;
      width: 198px;
      height: 166px;
    }
  }
}
@media (max-width: 1631px){
  .art-banner h2,.art-banner h2 span{
    font-size:60px!important
  }
}
@media (max-width: 1200px){
  .art-banner h2,.art-banner h2 span{
    font-size:40px!important;
    white-space: normal;
    letter-spacing: 0;
  }
  .art-banner h2{
    line-height: 60px!important;
  }
}
@media (max-width: 991px){
  .art-banner{
    padding-top:20%
  }
  .list{
    .art-banner{
      padding-top:40%;
    }
  }
  .art-banner p{
    padding:0 20px;
  }
  .art-col .col-md-8 h2{
    font-size: 20px;
  }
  .art-cont h1{
    font-size:38px;
  }
  .list .heading{
    font-size: 20px;
  }
}