<aside class="sidenav">

    <address class="info-address">中国广东省广州市天河区<br>
        临江大道临江上品683号2108室</address>
    <p><i class="phone"></i>1 5920 181 080</p>
    <p><i class="email"></i><a href="mailto:ZJzakea@163.com">ZJzakea@163.com</a></p>
    <p><i class="fax"></i>+ 020 2900 3152</p>
    <h6 class="mt-40">在线咨询</h6>
    <ul class="links-list nopadding">
        <li><a href="#"><a href="">吴总监</a></a></li>
        <li><a href="#"><a href="">李经理</a></a></li>
        <li><a href="#"><a href="">潘总程</a></a></li>
        <li><a href="#"><a href="">冼小姐</a></a></li>
    </ul>

    <div class="social-icons dark rounded mt-40">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-vimeo"></i></a>
    </div>

    <a href="#" id="sidenav-close">
        <i class="ti-close"></i>
    </a>
</aside>