
<!-- Revolution Slider -->
<section>
    <div class="rev_slider_wrapper">
        <div class="rev_slider" id="slider1" data-version="5.0">
            <ul>
                <!-- SLIDE 1 -->
                <li data-fstransition="fade"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['-100', '-90', '-80', '-100']"
                         data-fontsize="['84', '70', '60', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-elementdelay="0.01"
                         style="text-align: center;">A brave new world.
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['10','10','10','-45']"
                         data-fontsize="['108', '90', '80', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1200"
                         data-elementdelay="0.01"
                         style="text-align: center;">All under one roof.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="[110,116,100,20]"
                         data-fontsize="['10', '10', '10', '8']"
                         data-whitespace="[nowrap,nowrap,nowrap,normal]"
                         data-width="[auto,auto,auto,300]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1300"
                         data-elementdelay="0.01"
                         style="text-align: center;">宅寂ZAKEA 团队独具创新的设计理念，给予客户崭新的视觉体验，精心凝听客户对品牌故事的描述、延生、深化，并将至融合在视觉设计中。聚焦行业领头讯息，从中激发灵感<br>
                        让我们的创作羽翼日益丰满，直至腾飞。
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-voffset="250"
                         data-hoffset="0"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1400"
                         data-elementdelay="0.01"
                         data-linktoslide="next"
                         style="z-index: 4; letter-spacing: 2px;"><img src="img/reg.jpg">
                    </div>

                </li>

                <!-- SLIDE 2 -->
                <li data-fstransition="zoomout"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world2">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['-100', '-90', '-80', '-100']"
                         data-fontsize="['84', '70', '60', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-elementdelay="0.01"
                         style="text-align: center;">A brave new world.
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['10','10','10','-45']"
                         data-fontsize="['108', '90', '80', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1200"
                         data-elementdelay="0.01"
                         style="text-align: center;">All under one roof.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="[110,116,100,20]"
                         data-fontsize="['10', '10', '10', '8']"
                         data-whitespace="[nowrap,nowrap,nowrap,normal]"
                         data-width="[auto,auto,auto,300]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1300"
                         data-elementdelay="0.01"
                         style="text-align: center;">宅寂ZAKEA 团队独具创新的设计理念，给予客户崭新的视觉体验，精心凝听客户对品牌故事的描述、延生、深化，并将至融合在视觉设计中。聚焦行业领头讯息，从中激发灵感<br>
                        让我们的创作羽翼日益丰满，直至腾飞。
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-voffset="250"
                         data-hoffset="0"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1400"
                         data-elementdelay="0.01"
                         data-linktoslide="next"
                         style="z-index: 4; letter-spacing: 2px;"><img src="img/reg.jpg">
                    </div>

                </li>

                <!-- SLIDE 3 -->
                <li data-fstransition="zoomout"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world3">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['-100', '-90', '-80', '-100']"
                         data-fontsize="['84', '70', '60', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1000"
                         data-elementdelay="0.01"
                         style="text-align: center;">A brave new world.
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption hero-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="['10','10','10','-45']"
                         data-fontsize="['108', '90', '80', '40']"
                         data-lineheight="['70', '65', '50', '40']"
                         data-fontweight="700"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1200"
                         data-elementdelay="0.01"
                         style="text-align: center;">All under one roof.
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium-text"
                         data-x="center"
                         data-y="center"
                         data-voffset="[110,116,100,20]"
                         data-fontsize="['10', '10', '10', '8']"
                         data-whitespace="[nowrap,nowrap,nowrap,normal]"
                         data-width="[auto,auto,auto,300]"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1300"
                         data-elementdelay="0.01"
                         style="text-align: center;">宅寂ZAKEA 团队独具创新的设计理念，给予客户崭新的视觉体验，精心凝听客户对品牌故事的描述、延生、深化，并将至融合在视觉设计中。聚焦行业领头讯息，从中激发灵感<br>
                        让我们的创作羽翼日益丰满，直至腾飞。
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-y="center"
                         data-voffset="250"
                         data-hoffset="0"
                         data-transform_idle="o:1;s:500"
                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                         data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                         data-start="1400"
                         data-elementdelay="0.01"
                         data-linktoslide="next"
                         style="z-index: 4; letter-spacing: 2px;"><img src="img/reg.jpg">
                    </div>

                </li>
            </ul>

        </div>
    </div>
</section>