
<!-- Revolution Slider -->
<section>
    <div class="rev_slider_wrapper">
        <div class="rev_slider" id="slider1" data-version="5.0">
            <ul>
                <!-- SLIDE 1 -->
                <li data-fstransition="fade"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >

                </li>

                <!-- SLIDE 2 -->
                <li data-fstransition="zoomout"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world2">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >


                </li>

                <!-- SLIDE 3 -->
                <li data-fstransition="zoomout"
                    data-transition="zoomout"
                    data-slotamount="1"
                    data-masterspeed="1000"
                    data-delay="8000"
                    data-title="A brave new world3">

                    <!-- MAIN IMAGE -->
                    <img src="img/revolution/slide_1.jpg"
                         alt=""
                         data-bgrepeat="no-repeat"
                         data-bgfit="cover"
                         data-bgparallax="7"
                         class="rev-slidebg"
                    >

                </li>
            </ul>

        </div>
    </div>
</section>