<!-- Icon Boxes -->
<section class="section-wrap icon-boxes bg-light pb-40 pb-sml-80">
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-item-box style-1 red text-center">
                    <img src="img/icon-game.png" alt="">
                    <h3>数字品牌战略</h3>
                    <blockquote>Brand Research & Analytics</blockquote>
                    <p class="mb-10">数字艺术设计改变了以往的以人为核心的艺术设计理念和方法，改为以计算机技术为核心，将计算机作为重要的设计工具，将数字技术充分应用到设计工作中。
                        运用Maya、3D MAX、CINEMA 4D、After Effects、Flash等软件创造出了与以往截然不同的设计成果。</p>
                    <a  class="read-more sliding-link">Read More</a>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-item-box style-1 turquoise text-center">
                    <img src="img/icon-design.png" alt="">
                    <h3>品牌视觉设计</h3>
                    <blockquote>Visual design of high-end brands</blockquote>
                    <p class="mb-10">宅寂（广州宅寂品牌策划有限公司）源自人们对万物敏锐而深刻的观察。痴迷为“宅”，蕴含着不沉湎于世俗财物、社会地位，追求美好之物的超凡心境；极简为“寂”，传达“简约就是美”的脱俗审美态度。“宅寂”在赋予人们对艺术佳作或景致优雅之美的鉴赏能力的同时，不忘向世人传达那些终将转瞬即逝的深刻哲理。</p>
                    <a  class="read-more sliding-link">Read More</a>
                </div>
            </div> <!-- end service item -->

            <div class="col-md-4 col-sm-6">
                <div class="service-item-box style-1 violet text-center">
                    <img src="img/icon-3ds.png" alt="">
                    <h3>三维动画设计</h3>
                    <blockquote>Autodesk 3ds Max Design</blockquote>
                    <p class="mb-10">数字艺术设计改变了以往的以人为核心的艺术设计理念和方法，改为以计算机技术为核心，将计算机作为重要的设计工具，将数字技术充分应用到设计工作中。
                        运用Maya、3D MAX、CINEMA 4D、After Effects、Flash等软件创造出了与以往截然不同的设计成果。。</p>
                    <a  class="read-more sliding-link">Read More</a>
                </div>
            </div> <!-- end service item -->
        </div>
    </div>
</section> <!-- end icon boxes -->