<!-- Promo Section -->
<section class="section-wrap promo-section pt-90 pb-130 pt-mdm-80 pb-mdm-80 relative">
    <h2 class="title">ZAKEA BLOG</h2>
    <div class="customNavigation">
        <a class="btn prev"></a>
        <a class="btn next"></a>
    </div>
    <div id="owl-promo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <img src="img/promo.jpg" alt="" class="promo-img wow slideInLeft" data-wow-duration="1.2s" data-wow-delay="0s">
                    </div>
                    <div class="col-md-7 col-sm-12">

                        <article>
                            <div class="art-author">
                                <img src="img/avator.png" alt="">
                                <p>LINT</p>
                            </div>
                            <div class="art-info">
                                <div class="art-like"><i class="fa fa-heart"></i>128289</div>
                                <div class="art-time">17/9/21</div>
                            </div>
                            <div class="art-box">
                                <h2 class="mt-20">手游《纪念碑谷》的设计师是谁？</h2>
                                <p>
                                    2014年位于伦敦的一家手游设计工作室USTWO，成功开发制作出一款解谜类手机游戏《纪念碑谷》。</p>
                                <p>它凭借着独特唯美的视觉、配色与休闲益智的游戏玩法顿时风魔全球，尤其得到许多女性玩家的青睐，那当然也就少不了男性玩家的关注。</p>
                                <p>Ken Wong就是这款游戏的主设计师，目前已回归澳洲故乡成立自己的工作室</p>
                                <p>Mountains。期待他更多出色的作品好让我们多学习。</p>
                                <p>现在来设计张纪念碑谷风的字体给大家互相学习交流一下。</p>
                                <p>好让大家在情人节时可以P张纪念碑谷风的海报、T恤、手机壳什么的送给女性朋友或者男性朋友或者其它朋友。什么是其它朋友？嗯...就是其它的朋友啊！</p>
                                <p>……</p>
                            </div>

                            <a href="#" class="btn btn-md art-btn btn btn-md  btn-icon mt-40 mt-mdm-20">MORE CONTENT<i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <img src="img/promo.jpg" alt="" class="promo-img">
                    </div>
                    <div class="col-md-7 col-sm-12">

                        <article>
                            <div class="art-author">
                                <img src="img/avator.png" alt="">
                                <p>LINT</p>
                            </div>
                            <div class="art-info">
                                <div class="art-like"><i class="fa fa-heart"></i>128289</div>
                                <div class="art-time">18/9/21</div>
                            </div>
                            <div class="art-box">
                                <h2 class="mt-20">手游《纪念碑谷》的设计师是谁？</h2>
                                <p>
                                    2014年位于伦敦的一家手游设计工作室USTWO，成功开发制作出一款解谜类手机游戏《纪念碑谷》。</p>
                                <p>它凭借着独特唯美的视觉、配色与休闲益智的游戏玩法顿时风魔全球，尤其得到许多女性玩家的青睐，那当然也就少不了男性玩家的关注。</p>
                                <p>Ken Wong就是这款游戏的主设计师，目前已回归澳洲故乡成立自己的工作室</p>
                                <p>Mountains。期待他更多出色的作品好让我们多学习。</p>
                                <p>现在来设计张纪念碑谷风的字体给大家互相学习交流一下。</p>
                                <p>好让大家在情人节时可以P张纪念碑谷风的海报、T恤、手机壳什么的送给女性朋友或者男性朋友或者其它朋友。什么是其它朋友？嗯...就是其它的朋友啊！</p>
                                <p>……</p>
                            </div>

                            <a href="#" class="btn btn-md art-btn">MORE CONTENT</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <img src="img/promo.jpg" alt="" class="promo-img">
                    </div>
                    <div class="col-md-7 col-sm-12">

                        <article>
                            <div class="art-author">
                                <img src="img/avator.png" alt="">
                                <p>LINT</p>
                            </div>
                            <div class="art-info">
                                <div class="art-like"><i class="fa fa-heart"></i>128289</div>
                                <div class="art-time">19/9/21</div>
                            </div>
                            <div class="art-box">
                                <h2 class="mt-20">手游《纪念碑谷》的设计师是谁？</h2>
                                <p>
                                    2014年位于伦敦的一家手游设计工作室USTWO，成功开发制作出一款解谜类手机游戏《纪念碑谷》。</p>
                                <p>它凭借着独特唯美的视觉、配色与休闲益智的游戏玩法顿时风魔全球，尤其得到许多女性玩家的青睐，那当然也就少不了男性玩家的关注。</p>
                                <p>Ken Wong就是这款游戏的主设计师，目前已回归澳洲故乡成立自己的工作室</p>
                                <p>Mountains。期待他更多出色的作品好让我们多学习。</p>
                                <p>现在来设计张纪念碑谷风的字体给大家互相学习交流一下。</p>
                                <p>好让大家在情人节时可以P张纪念碑谷风的海报、T恤、手机壳什么的送给女性朋友或者男性朋友或者其它朋友。什么是其它朋友？嗯...就是其它的朋友啊！</p>
                                <p>……</p>
                            </div>

                            <a href="#" class="btn btn-md art-btn">MORE CONTENT</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> <!-- end promo section -->