<!-- Testimonials -->
<section class="section-wrap parallax-testimonials nopadding relative">

    <div class="relative">
        <div id="owl-testimonials" class="owl-carousel owl-theme light-arrows text-center">

            <div class="item">
                <div class="container testimonial">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Who we are</h2>
                            <p class="testimonial-text">宅寂ZAKEA（广州宅寂品牌策划有限公司）是品牌视觉设计，概念创意传达，互联网用户体验，市场营销策划分析的高端品牌定制机构。<br>
                                致力于为注重“企业形象”和“品牌气质”的客户提供相互尊敬值得信任的网站革新服务。<br>
                                公司成立于2001年，始由历任国际4A广告互动公司的资深总监合伙创办。<br>
                                创意始终坚持颠覆传统，超越平庸，深度融合创新思维与互动技术，致力于为客户呈现有效且具针对性的互动创意。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container testimonial">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Our creativity</h2>
                            <p class="testimonial-text">我们是天生的完美主义者，我们有着本能的创造力。对我们而言，挑战自己的设计创作极限是种心灵愉悦。我们乐于分享自己<br>
                                的创作果实和战略思想，只为创作更直观友好的用户体验。<br>
                                这势必成为品牌策划之先驱。简而言之，我们是数字化创新的梦想家和探索家，致力于成为行业发展的典范。这些年里，
                                我们不断超越强劲对手，将荣誉和声望尽收囊中。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="container testimonial">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Our idea</h2>
                            <p class="testimonial-text">宅寂（广州宅寂品牌策划有限公司）源自人们对万物敏锐而深刻的观察。痴迷为“宅”，蕴含着不沉湎于世俗财物、
                                社会地位，追求美好之物的超凡心境；极简为“寂”，传达“简约就是美”的脱俗审美态度。<br>
                                “宅寂”在赋予人们对艺术佳作或景致优雅之美的鉴赏能力的同时，不忘向世人传达那些终将转瞬即逝的深刻哲理。<br>
                                宅寂崇尚“少即是多”的审美理念，有着和“大道至简”的异曲同工之妙。它们无不告诫人们摒弃世俗的杂乱无章，褪去
                                浮华和喧嚣，取得不娇柔、无藻饰的简约之美。带着“宅寂”的理念设计出来的作品 ，绝不是偶然随意的肤浅行为，<br>
                                它不花哨不累赘，反而充满宁静和协调，把设计精髓的“极简”艺术诠释得淋漓尽致。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="parallax" data-stellar-background-ratio="0.5"></div>
</section> <!-- end testimonials -->

<!-- Partners -->
<section class="section-wrap partners bg-dark">
    <div class="container">
        <div class="row">

            <div id="owl-partners" class="owl-carousel owl-theme">

                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_1.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_2.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_3.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_4.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_5.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_6.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_1.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a>
                        <img src="img/partner_logo_dark_2.png" alt="">
                    </a>
                </div>

            </div> <!-- end carousel -->

        </div>
    </div>
</section> <!-- end partners -->
