<!-- Portfolio 3 Columns-->
<section class="section-wrap bg-light portfolio" id="portfolio1">
    <div class="container-fluid">

        <div class="row heading-row">
            <div class="col-md-12 text-center">
                <h2 class="heading uppercase bottom-line">Best Works</h2>
            </div>
        </div>

        <!-- filter -->
        <div class="row">
            <div class="col-md-12" id="portfolio1">
                <div class="portfolio-filter">
                    <a class="active sliding-link" data-filter=".type_all">全部</a>
                    <a class="sliding-link" data-filter=".type_animation">三维动画</a>
                    <a class="sliding-link" data-filter=".type_branding">其他作品</a>
                    <a class="sliding-link" data-filter=".type_photography">插画艺术</a>
                    <a class="sliding-link" data-filter=".type_game-design">游戏作品</a>
                    <a class="sliding-link" data-filter=".type_web-design">网页设计</a>
                </div>
            </div>
        </div> <!-- end filter -->

        <div class="row">
            <div id="portfolio-container" class="works-grid grid-4-col no-gutter">

                <div class="type_all work-item game-design vertical">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/光荣使命.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/光荣岂止于6大.jpg" class="lightbox-gallery" title="《光荣使命》广告卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%85%89%e8%8d%a3%e4%bd%bf%e5%91%bd%e3%80%8b%e5%b9%bf%e5%91%8a%e5%8d%96%e7%82%b9%e5%9b%be%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《光荣使命》广告卖点图设计</h2>
                                <span>
                                        《光荣使命：使命行动》是腾讯推出的首款百人对抗竞技射击手游。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_all work-item landscape game-design web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录精英福利专题页首大.jpg" class="lightbox-gallery" title="《天衍录》精英福利活动专题页设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%a4%a9%e8%a1%8d%e5%bd%95%e3%80%8b%e7%b2%be%e8%8b%b1%e7%a6%8f%e5%88%a9%e6%b4%bb%e5%8a%a8%e4%b8%93%e9%a2%98%e9%a1%b5%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《天衍录》精英福利活动专题页设计</h2>
                                <span>
                                        《天衍录》是一款由欢聚游戏独家代理、灵石游戏研发的3D星域幻想网游。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_all work-item game-design vertical web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/未标题-1.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/03/3_long-2.jpg" class="lightbox-gallery" title="手机游戏《第五人格》预约专题页面设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e7%ac%ac%e4%ba%94%e4%ba%ba%e6%a0%bc%e7%ab%96%e5%9b%be/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>手机游戏《第五人格》预约专题页面设计</h2>
                                <span>
                                        《第五人格》采用了蒂姆-伯顿式的哥特画风，人物采用线缝制的布偶设定。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_all work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/像三国小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/像三国大.jpg" class="lightbox-gallery" title="《像三国》广告卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%83%8f%e4%b8%89%e5%9b%bd%e3%80%8b%e5%b9%bf%e5%91%8a%e5%8d%96%e7%82%b9%e5%9b%be%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《像三国》广告卖点图设计</h2>
                                <span>
                                        《像三国》广告卖点图设计，设计时间为3天，已Q版风格设计，不同的配色突出配合4张独特有趣的插画，烘托出对应的特色卖点文案。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_all work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/古剑小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/03/古剑大.jpg" class="lightbox-gallery" title="《古剑奇谭》微广告KV设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e8%bf%99%e6%98%af%e4%b8%80%e4%b8%aa%e8%a7%86%e9%a2%91/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《古剑奇谭》微广告KV设计</h2>
                                <span>
                                        《古剑奇谭》游戏设定源自于《山海经》，故事则以武侠和仙侠为创作题材，以中国神话时代为背景，讲述了中国古代侠骨柔情的仙侠文化。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_all work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/476x333.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/07/1_big.jpg" class="lightbox-gallery" title="手机游戏《妖精笔记》卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e6%89%8b%e6%b8%b8%e5%a6%96%e7%b2%be%e7%ac%94%e8%ae%b0%e5%8d%96%e7%82%b9%e5%9b%be/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>手机游戏《妖精笔记》卖点图设计</h2>
                                <span>
                                        《妖精笔记》是网易推出的一款新派智斗卡牌手游，日式画风Q萌清新                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_branding work-item branding landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/符文logo小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/符文logo.jpg" class="lightbox-gallery" title="《符文英雄》推广期间LOGO设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e7%ac%a6%e6%96%87%e8%8b%b1%e9%9b%84%e3%80%8b%e6%8e%a8%e5%b9%bf%e6%9c%9f%e9%97%b4logo%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《符文英雄》推广期间LOGO设计</h2>
                                <span>
                                        《符文英雄》推广期间LOGO设计一枚，设计+修改2周。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item game-design vertical">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/光荣使命.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/光荣岂止于6大.jpg" class="lightbox-gallery" title="《光荣使命》广告卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%85%89%e8%8d%a3%e4%bd%bf%e5%91%bd%e3%80%8b%e5%b9%bf%e5%91%8a%e5%8d%96%e7%82%b9%e5%9b%be%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《光荣使命》广告卖点图设计</h2>
                                <span>
                                        《光荣使命：使命行动》是腾讯推出的首款百人对抗竞技射击手游。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item landscape game-design web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录精英福利专题页首大.jpg" class="lightbox-gallery" title="《天衍录》精英福利活动专题页设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%a4%a9%e8%a1%8d%e5%bd%95%e3%80%8b%e7%b2%be%e8%8b%b1%e7%a6%8f%e5%88%a9%e6%b4%bb%e5%8a%a8%e4%b8%93%e9%a2%98%e9%a1%b5%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《天衍录》精英福利活动专题页设计</h2>
                                <span>
                                        《天衍录》是一款由欢聚游戏独家代理、灵石游戏研发的3D星域幻想网游。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item game-design vertical web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/未标题-1.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/03/3_long-2.jpg" class="lightbox-gallery" title="手机游戏《第五人格》预约专题页面设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e7%ac%ac%e4%ba%94%e4%ba%ba%e6%a0%bc%e7%ab%96%e5%9b%be/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>手机游戏《第五人格》预约专题页面设计</h2>
                                <span>
                                        《第五人格》采用了蒂姆-伯顿式的哥特画风，人物采用线缝制的布偶设定。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/像三国小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/像三国大.jpg" class="lightbox-gallery" title="《像三国》广告卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%83%8f%e4%b8%89%e5%9b%bd%e3%80%8b%e5%b9%bf%e5%91%8a%e5%8d%96%e7%82%b9%e5%9b%be%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《像三国》广告卖点图设计</h2>
                                <span>
                                        《像三国》广告卖点图设计，设计时间为3天，已Q版风格设计，不同的配色突出配合4张独特有趣的插画，烘托出对应的特色卖点文案。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/古剑小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/03/古剑大.jpg" class="lightbox-gallery" title="《古剑奇谭》微广告KV设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e8%bf%99%e6%98%af%e4%b8%80%e4%b8%aa%e8%a7%86%e9%a2%91/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《古剑奇谭》微广告KV设计</h2>
                                <span>
                                        《古剑奇谭》游戏设定源自于《山海经》，故事则以武侠和仙侠为创作题材，以中国神话时代为背景，讲述了中国古代侠骨柔情的仙侠文化。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_game-design work-item landscape game-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/476x333.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/07/1_big.jpg" class="lightbox-gallery" title="手机游戏《妖精笔记》卖点图设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e6%89%8b%e6%b8%b8%e5%a6%96%e7%b2%be%e7%ac%94%e8%ae%b0%e5%8d%96%e7%82%b9%e5%9b%be/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>手机游戏《妖精笔记》卖点图设计</h2>
                                <span>
                                        《妖精笔记》是网易推出的一款新派智斗卡牌手游，日式画风Q萌清新                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_web-design work-item game-design vertical web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/03/未标题-1.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/03/3_long-2.jpg" class="lightbox-gallery" title="手机游戏《第五人格》预约专题页面设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e7%ac%ac%e4%ba%94%e4%ba%ba%e6%a0%bc%e7%ab%96%e5%9b%be/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>手机游戏《第五人格》预约专题页面设计</h2>
                                <span>
                                        《第五人格》采用了蒂姆-伯顿式的哥特画风，人物采用线缝制的布偶设定。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_web-design work-item game-design vertical web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/YY小龙小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/YY小龙大.jpg" class="lightbox-gallery" title="《古剑奇谭》二次封测动态情怀H5"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%8f%a4%e5%89%91%e5%a5%87%e8%b0%ad%e3%80%8b%e4%ba%8c%e6%ac%a1%e5%b0%81%e6%b5%8b%e5%8a%a8%e6%80%81%e6%83%85%e6%80%80h5/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《古剑奇谭》二次封测动态情怀H5</h2>
                                <span>
                                        《古剑奇谭》二次封测动态情怀H5，此次需求较为复制，需要根据需求方的故事脚本来融合到H5的项目中，表达游戏产品与玩家之间的游戏情怀，最终引出营销信息。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
                <div class="type_web-design work-item landscape game-design web-design">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录小.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://www.hx-h.com/wp-content/uploads/2018/08/天衍录精英福利专题页首大.jpg" class="lightbox-gallery" title="《天衍录》精英福利活动专题页设计"><i class="fa fa-search"></i></a>
                                    <a href="http://www.hx-h.com/zhaiji_works/%e3%80%8a%e5%a4%a9%e8%a1%8d%e5%bd%95%e3%80%8b%e7%b2%be%e8%8b%b1%e7%a6%8f%e5%88%a9%e6%b4%bb%e5%8a%a8%e4%b8%93%e9%a2%98%e9%a1%b5%e8%ae%be%e8%ae%a1/" class="project-icon" target="_blank"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2>《天衍录》精英福利活动专题页设计</h2>
                                <span>
                                        《天衍录》是一款由欢聚游戏独家代理、灵石游戏研发的3D星域幻想网游。                                    </span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->
            </div> <!-- end portfolio container -->
        </div> <!-- end row -->

        <div class="row mt-40">
            <div class="col-md-12 text-center">
                <a href="/works/" class="btn btn-lg btn-icon btn-white" id="load-more" target="_blank"><span>More Works</span><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section> <!-- end portfolio-->