<!-- Portfolio 3 Columns-->
<section class="section-wrap bg-light portfolio" id="portfolio1">
    <div class="container-fluid">

        <div class="row heading-row">
            <div class="col-md-12 text-center">
                <h2 class="heading uppercase bottom-line">Best Works</h2>
            </div>
        </div>

        <!-- filter -->
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-filter">
                    <a href="#" class="filter active sliding-link" data-filter="*">全部</a>
                    <a href="#" class="filter sliding-link" data-filter=".web-design">游戏作品</a>
                    <a href="#" class="filter sliding-link" data-filter=".branding">其他作品</a>
                    <a href="#" class="filter sliding-link" data-filter=".photography">插画艺术</a>
                    <a href="#" class="filter sliding-link" data-filter=".photography">三维动画</a>
                </div>
            </div>
        </div> <!-- end filter -->

        <div class="row">
            <div id="portfolio-container" class="works-grid grid-4-col no-gutter">

                <div class="work-item web-design photography">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/1.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="img/portfolio/1_big.jpg" class="lightbox-gallery" title="Awesome Boat"><i class="fa fa-search"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">Awesome Boat</a></h2>
                                <span><a href="#">Photography</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

                <div class="work-item photography branding">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/masonry/3_long.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="http://player.youku.com/embed/XMzQzMTg2Njg4OA==" class="lightbox-video mfp-iframe"><i class="fa fa-play"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">测试视频</a></h2>
                                <span><a href="#">Web Design</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

                <div class="work-item web-design photography">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/3.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="" class="lightbox-video mfp-iframe"><i class="fa fa-play"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">Youtube Video</a></h2>
                                <span><a href="#">Photography</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

                <div class="work-item web-design branding">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/masonry/8_long.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="img/portfolio/masonry/8_big.jpg" class="lightbox-gallery" title="Super Minimal"><i class="fa fa-search"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">Super Minimal</a></h2>
                                <span><a href="#">Branding</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

                <div class="work-item branding photography">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/5.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="img/portfolio/5_big.jpg" class="lightbox-gallery" title="Design Studio"><i class="fa fa-search"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">Design Studio</a></h2>
                                <span><a href="#">Branding</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

                <div class="work-item web-design branding">
                    <div class="work-container">
                        <div class="work-img rounded">
                            <img src="img/portfolio/6.jpg" alt="">
                            <div class="work-overlay">
                                <div class="project-icons">
                                    <a href="img/portfolio/6_big.jpg" class="lightbox-gallery" title="Morning in Quebec"><i class="fa fa-search"></i></a>
                                    <a href="#" class="project-icon"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="work-description">
                                <h2><a href="#">Morning in Quebec</a></h2>
                                <span><a href="#">Photography</a></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end work-item -->

            </div>  <!-- end portfolio container -->
        </div> <!-- end row -->

        <div class="row mt-40">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-lg btn-icon btn-white" id="load-more"><span>More Works</span><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section> <!-- end portfolio-->