<header class="nav-type-1 transparent">


    <nav class="navbar navbar-static-top">
        <div class="navigation">
            <div class="container-fluid semi-fluid relative">

                <div class="row">

                    <div class="navbar-header">
                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap">
                                <a href="index.html">
                                    <img class="logo" src="img/logo_light.png" alt="logo">
                                    <img class="logo-dark" src="img/logo_dark.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>



                    </div> <!-- end navbar-header -->

                    <div class="col-md-12 nav-wrap">
                        <div class="collapse navbar-collapse text-center" id="navbar-collapse">

                            <ul class="nav navbar-nav">
                                <li><a href="index.html">关于宅寂</a></li>
                                <li><a href="services.html">服务内容</a></li>
                                <li><a href="about-us.html">案例作品</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li><a href="blog.html">ZAKEA BLOG</a></li>

                            </ul> <!-- end menu -->
                        </div> <!-- end collapse -->
                    </div> <!-- end col -->

                    <ul class="nav-right hidden-sm hidden-xs">

                        <li class="nav-icon-trigger">
                            <a href="#" id="nav-icon">
                                <div class="nav-icon-inner">
                                    <div class="nav-icon-wrap">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div> <!-- end row -->
            </div> <!-- end container -->
        </div> <!-- end navigation -->
    </nav> <!-- end navbar -->
</header>